.u-section-1 {
  background-image: none;
  min-height: 855px;
}

.u-section-1 .u-image-1 {
  width: 1002px;
  height: 1004px;
  object-position: 0% 50%;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-size: 3.75rem;
  text-shadow: 0 0 8px rgba(128,128,128,1);
  font-weight: normal;
  margin: -984px 278px 0;
}

.u-section-1 .u-shape-1 {
  width: 253px;
  height: 210px;
  animation-duration: 1000ms;
  margin: 394px auto 0 calc(((100% - 1140px) / 2) + 85px);
}

.u-section-1 .u-list-1 {
  width: 680px;
  margin: -581px calc(((100% - 1140px) / 2) + 203px) 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 50px) calc(50% - 50px);
  min-height: 508px;
  grid-gap: 100px 100px;
  margin-top: auto;
  margin-bottom: 0;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 2px 2px 13px 3px rgba(229,229,229,1);
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 25px 25px 0 35px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 7px auto 0;
  padding: 12px 46px 14px 45px;
}

.u-section-1 .u-icon-1 {
  width: 15px;
  height: 15px;
  animation-duration: 1000ms;
  margin: -35px 115px 0 auto;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 2px 2px 13px 3px rgba(229,229,229,1);
  margin-top: 0;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: auto;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 25px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 25px 25px 0 35px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
  margin: 7px auto 0;
  padding: 12px 46px 14px 45px;
}

.u-section-1 .u-icon-2 {
  width: 15px;
  height: 15px;
  animation-duration: 1000ms;
  margin: -35px 115px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 892px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 941px;
  }

  .u-section-1 .u-text-1 {
    width: 744px;
    margin-top: -921px;
    margin-left: 178px;
    margin-right: 178px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 447px;
    margin-left: calc(((100% - 940px) / 2) + 229px);
  }

  .u-section-1 .u-list-1 {
    margin-top: -642px;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 559px;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 39px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 112px;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 39px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 112px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 672px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 721px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -618px;
    margin-right: calc(((100% - 1140px) / 2) + 197px);
    margin-left: calc(((100% - 1140px) / 2) + 223px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: 753px;
    margin-left: calc(((100% - 1140px) / 2) + 267px);
  }

  .u-section-1 .u-list-1 {
    width: 458px;
    margin-top: -926px;
    margin-right: calc(((100% - 1140px) / 2) + 313px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1617px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-1 {
    padding: 14px 68px 15px 67px;
  }

  .u-section-1 .u-image-3 {
    width: 462px;
    height: 462px;
    margin-right: -4px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 7px;
    margin-right: 152px;
    padding: 14px 68px 15px 67px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1848px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 541px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -438px;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 1140px) / 2) + 357px);
  }

  .u-section-1 .u-list-1 {
    width: 445px;
    margin-top: -937px;
    margin-right: calc(((100% - 540px) / 2) + 27px);
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1528px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-image-2 {
    height: 458px;
    width: 458px;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 26px;
    margin-right: 19px;
    margin-left: 29px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 7px;
    margin-right: 152px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 200px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-image-3 {
    height: 458px;
    width: 458px;
    margin-top: 8px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 26px;
    margin-left: 29px;
    margin-right: 19px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: 200px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1338px;
  }

  .u-section-1 .u-image-1 {
    width: calc(((100% - 1140px) / 2) + 850px);
    height: 501px;
    margin-left: calc(((100% - 1140px) / 2) + 290px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -398px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-1 .u-shape-1 {
    margin-top: 533px;
    margin-right: calc(((100% - 340px) / 2) + -66px);
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    width: 280px;
    margin-top: -719px;
    margin-right: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1069px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-image-2 {
    height: 260px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.625rem;
    width: auto;
    margin-top: 8px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -36px;
    margin-right: auto;
    margin-left: 164px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-image-3 {
    height: 260px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.625rem;
    width: auto;
    margin-top: 8px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -36px;
    margin-right: auto;
    margin-left: 164px;
  }
}.u-section-2 {
  background-image: linear-gradient(#2a73b7, #27273c);
  min-height: 806px;
}

.u-section-2 .u-icon-1 {
  width: calc(((100% - 1140px) / 2) + 1225px);
  height: 806px;
  margin: 0 -5px 0 0;
}

.u-section-2 .u-text-1 {
  letter-spacing: 3px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 400;
  margin: -669px calc(((100% - 1140px) / 2) + 90px) 0;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  font-size: 3.75rem;
  font-weight: 700;
  font-family: "Akaya Kanadaka";
  margin: -107px 372px 0;
}

.u-section-2 .u-list-1 {
  width: 1098px;
  margin: 124px auto 59px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 65.3333px) calc(33.3333% - 65.3333px) calc(33.3333% - 65.3333px);
  grid-gap: 98px 98px;
  min-height: 499px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-1 {
  height: 284px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: 0 30px;
}

.u-section-2 .u-btn-1 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  animation-duration: 1000ms;
  background-image: none;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-2 .u-icon-2 {
  width: 16px;
  height: 15px;
  margin: -30px 119px 0 auto;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-2 {
  height: 284px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 1rem;
  margin: 0 30px;
}

.u-section-2 .u-btn-2 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  animation-duration: 1000ms;
  background-image: none;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-2 .u-icon-3 {
  width: 16px;
  height: 15px;
  margin: -30px 119px 0 auto;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 0 2px 8px 0 rgba(128,128,128,1);
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-2 .u-image-3 {
  height: 284px;
  margin-top: 10px;
  margin-bottom: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  margin: 0 30px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: solid;
  animation-duration: 1000ms;
  margin: 25px auto 0;
  padding: 6px 46px 7px 45px;
}

.u-section-2 .u-icon-4 {
  width: 16px;
  height: 15px;
  margin: -30px 119px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-icon-1 {
    width: calc(((100% - 940px) / 2) + 1225px);
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2));
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-left: 272px;
    margin-right: 272px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: 116px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 427px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 243px;
    margin-top: 14px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 0;
  }

  .u-section-2 .u-icon-2 {
    height: 16px;
    margin-top: -29px;
    margin-right: 91px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    height: 243px;
    margin-top: 14px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 0;
  }

  .u-section-2 .u-icon-3 {
    height: 16px;
    margin-top: -29px;
    margin-right: 91px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    height: 243px;
    margin-top: 14px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 0;
  }

  .u-section-2 .u-icon-4 {
    height: 16px;
    margin-top: -29px;
    margin-right: 91px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 1274px;
  }

  .u-section-2 .u-icon-1 {
    width: calc(((100% - 720px) / 2) + 1225px);
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-2 .u-text-2 {
    width: 496px;
    margin-top: -141px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-top: 151px;
    margin-bottom: 18px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 44px) calc(50% - 44px);
    grid-gap: 88px 88px;
    min-height: 987px;
  }

  .u-section-2 .u-image-1 {
    height: 279px;
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 18px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 124px;
  }

  .u-section-2 .u-image-2 {
    height: 279px;
    margin-top: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 18px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 124px;
  }

  .u-section-2 .u-image-3 {
    height: 279px;
    margin-top: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 18px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 18px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 124px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 2178px;
  }

  .u-section-2 .u-icon-1 {
    width: calc(((100% - 540px) / 2) + 1225px);
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-text-2 {
    margin-top: -154px;
  }

  .u-section-2 .u-list-1 {
    width: 312px;
    margin-top: 161px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1891px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 332px;
    width: 281px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 6px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 8px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 128px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 332px;
    width: 281px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 6px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 8px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 128px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 332px;
    width: 281px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: 40px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 6px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 8px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 128px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 2067px;
  }

  .u-section-2 .u-icon-1 {
    width: calc(((100% - 340px) / 2) + 1225px);
  }

  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -161px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 178px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1726px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.625rem;
    margin-top: 12px;
    margin-right: 33px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 9px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 9px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: auto;
    margin-left: 165px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.625rem;
    margin-top: 12px;
    margin-right: 33px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 9px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 9px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: auto;
    margin-left: 165px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-2 .u-image-3 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.625rem;
    margin-top: 12px;
    margin-right: 33px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 9px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 9px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: auto;
    margin-left: 165px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 254px;
}

.u-section-3 .u-shape-1 {
  height: 175px;
  margin: 40px 0 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1084px;
  margin: -160px auto 55px 28px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 125px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 125px;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  animation-duration: 1000ms;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-3 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-3 .u-shape-1 {
    height: 276px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -261px;
  }

  .u-section-3 .u-text-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 40px;
  }
}